/*Common*/
body{
	background: #f7f7f7;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

h1,h2{
	color:#737993;
}
/*App*/
.myApp{
	position: absolute;
	box-shadow: 0px 0px 1px 1px #eee;
	padding: 10px 20px;
	min-width: 400px;
	min-height: 650px;
	width: 400px;
	height: 650px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #eee;
	overflow:hidden;
	border-radius: 8px;
}

/*Main screen*/
.app-mainScreen{

}

/*Add Task*/
.app-addTask{
	text-align: right;
}
.app-addTask button{
	background: transparent;
	border: none;
	color:#f5b6a3;
	outline: none;
	cursor: pointer;
	font-size: 1.1em;
}
.app-addTask button:hover{
	color: #f3ae99
}

/*Task*/
.app-tasks {
	margin-top: 40px;
}
.app-tasks ul{
	list-style: none;
	padding: 2px;
	margin: 0px;
	overflow:hidden;
	overflow-y: scroll;
	max-height: 480px;
}
.app-tasks ul::-webkit-scrollbar{
	width: 0px;
}
.app-tasks ul li{
	margin-bottom: 10px;
	background: linear-gradient(to right, rgba(247,172,180,1) 0%, rgba(255,185,153,1) 83%, rgba(247,187,159,1) 100%);
	padding: 5px 5px;
	border-radius: 8px;
	box-shadow: 0px 0px 1px 1px #d4d4d4;
}
.app-tasks ul li.done{
	background: #eee;
}
.app-tasks ul li.done p,.app-tasks ul li.done span{
	color: #777;
}
.app-tasks ul li.done p{
	text-decoration: line-through;
}
.app-tasks ul li p,.app-tasks ul li span{
 display: inline-block;
 padding: 10px;	
 margin: 0px;
 color: #f7f7f7;
 -webkit-user-select: none;
}
.app-tasks ul li span{
	font-size: 0.75em;
	line-height: 2;
	cursor: pointer;
}
.app-tasks ul li p{
	font-size: 1.2em;
}
.app-tasks ul li span:nth-child(3),.app-tasks ul li span:nth-child(4){
	float: right;
}
.app-tasks ul li span:nth-child(3):hover{
	color: #ff000082;
}

/*add task screen*/
.app-addTask-screen {
	background: #fff;
	position: absolute;
	height: 100%;
	top: 0px;
	width: 100%;
	left: 0px;
	
}

.app-addTask-screen-wrapper{
	padding: 20px;	
}
.app-addTask-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 9;
}
.app-addTask-footer button{
	width: 100%;
	padding: 15px 10px; 
	font-size: 1.2em;
	background: #737993;
	border: none;
	color: #fff;
	outline: none;
	cursor: pointer;
}
.app-addTask-header{
	text-align: center;
}
.app-addTask-header span{
	float: left;
	cursor: pointer;
}
.app-addTask-content{
	margin-top: 70px;
}
.app-addTask-content label{
	display: block;
	margin-bottom: 5px;
	color: #777;
}
.app-addTask-content input{
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	outline: none;
	font-size: 1.2em;
}

.app-errorMsg{
	margin-top: 2px;
    display: inline-block;
    color: #ff000082;
    font-size: 0.85em;
    text-transform: lowercase;
    letter-spacing: 1px;
}
.app-taskPending{
	position: absolute;
	bottom: 0;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
	left: 0px;
	color: #777;
}